ul li {
	position: relative;
	list-style: none;
}

li ul {
	position: absolute;
	left: 0;
	top: 35px;
	display: none;
	list-style: none;
}

li:hover ul, li.over ul { 
	display: block; 
}
